[MASTER]
# Disable the unused-argument warning
disable = unused-argument
ignore-patterns=(.)*_test\.py,test_(.)*\.py

[MESSAGES CONTROL]
disable=too-few-public-methods,broad-exception-caught,missing-function-docstring,missing-module-docstring
