build==1.2.2.post1
CacheControl==0.14.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
distlib==0.4.0
dulwich==0.21.7
fastjsonschema==2.21.2
filelock==3.16.1
idna==3.8
importlib_metadata==8.5.0
importlib_resources==6.4.5
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.5.0
msgpack==1.1.1
packaging==26.0
pexpect==4.9.0
pkginfo==1.12.1.2
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycparser==2.23
pyproject_hooks==1.2.0
rapidfuzz==3.9.7
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
tomli==2.4.1
tomlkit==0.13.3
trove-classifiers==2026.1.14.14
typing_extensions==4.13.2
urllib3==2.2.3
virtualenv==20.39.1
xattr==1.2.0
zipp==3.20.2
