<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        body {
            font-family: sans-serif;
        }
        h1 {
            font-family: monospace;
            text-align: center;
            border: 1px solid black;
            border-left: none;
            border-right: none;
            margin: 4px;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <p><em>Name :</em> {{dog.dog_name }}</p>
    <p><em>Is admin dog? </em>{{ isAdmin }}</p>
    <p><em>ID :</em> {{dog._id}}</p>
</body>
</html>
