<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create (with JSON)</title>
    <script>
        function submitForm(inject) {
            var dogName = document.getElementById('dog_name').value;
            var statusElement = document.getElementById('status');
            if(inject)
                var data = JSON.stringify({"dog\", 0); -- ": 0});
            else
                var data = dogName


            fetch('/create_with_json', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                statusElement.innerText = "Network response was not ok."
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                statusElement.innerText = data
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Create (with JSON)</h1>
    <label for="dog_name">Dog Name:</label>
    <input type="text" id="dog_name" name="dog_name" required><br/>
    <button onclick="submitForm(false)">Create</button>
    <button onclick="submitForm(true)">Create (with SQL injection)</button>
    <p>Status: <span id="status"></span></p>
</body>
</html>
